# CONFIG_BT is not set
# CONFIG_BT_6LOWPAN is not set
# CONFIG_BT_HCIUART is not set
# CONFIG_BT_HCIUART_BCM is not set
# CONFIG_BT_MRVL is not set
# CONFIG_BT_MRVL_SDIO is not set
# CONFIG_CFG80211 is not set
# CONFIG_MAC80211 is not set
# CONFIG_RFKILL is not set
# CONFIG_RFKILL_INPUT is not set
# CONFIG_RFKILL_GPIO is not set
# CONFIG_NFC is not set
# CONFIG_NFC_DIGITAL is not set
# CONFIG_NFC_NCI is not set
# CONFIG_NFC_NCI_SPI is not set
# CONFIG_NFC_NCI_UART is not set
# CONFIG_NFC_HCI is not set
# CONFIG_NFC_SHDLC is not set
# CONFIG_NFC_S3FWRN5_I2C is not set
# CONFIG_WCN36XX is not set
# CONFIG_BRCMFMAC is not set
# CONFIG_MWIFIEX is not set
# CONFIG_MWIFIEX_SDIO is not set
# CONFIG_RT2X00 is not set
# CONFIG_RT2800USB is not set

